.container{
    margin-top: 25px;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-board-jj-112-c.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=92ad43b8024afe5beeb432e0db3505cc');
    padding: 20px;
}
